* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
}

.nav-logo {
  height: 50px;
  background-image: url("amazon_logo.png");
  background-size: cover;
  width: 100px;
  padding: 1px 8px 0px 6px;
}

.border {
  border: 1.5px solid #0f1111;
}

.border:hover {
  border: 1.5px solid white;
  border-radius: 5%;
}

/* box 2 */

.nav-location {
  height: 50px;
  align-content: center;
}

.add-first {
  color: #cccccc;
  font-size: 0.75rem;
  margin-left: 14px;
}

.add-second {
  font-size: 1rem;
  margin-left: 3px;
}

.nav-address {
  display: flex;
  align-items: center;
}

/* box 3 */

.nav-search {
  display: flex;
  align-items: center;
}

#nav-select {
  height: 40px;
  width: 40px;
}
